<header>
    <nav>
        <div class="logo">
            <h1><a href="/">Tom & Jerry</a></h1>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/media/gallery">Gallery</a></li>
            <li><a href="/media/animations">Animations</a></li>
            <li><a href="/forum">Forum</a></li>
            <% if (user) { %>
                <li><a href="/media/upload">Upload</a></li>
                <li><a href="#"><%= user.username %></a></li>
                <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
            <% } %>
        </ul>
    </nav>
</header> 