<header class="main-header">
</header>

<nav class="nav-container">
    <a href="/" class="nav-button">Home</a>
    <a href="/story" class="nav-button">Story</a>
    <a href="/characters" class="nav-button">Characters</a>
    <a href="/media/gallery" class="nav-button">Gallery</a>
    <a href="/forum" class="nav-button">Forum</a>
    <% if (user) { %>
        <a href="/auth/logout" class="nav-button logout-btn">Logout</a>
        <span class="user-name">Welcome, <%= user.username %></span>
    <% } %>
</nav> 